<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>


        <property name="hibernate.connection.zeroDateTimeBehavior">ConvertToNull</property>

        <mapping class="com.schoolar.modules.model.User"/>
        <mapping class="com.schoolar.modules.model.Discipline"/>
        <mapping class="com.schoolar.modules.model.Homework"/>
        <mapping class="com.schoolar.modules.model.Role"/>
        <mapping class="com.schoolar.modules.model.Rating"/>



    </session-factory>
</hibernate-configuration>